*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    padding-bottom: 10px;
}
h1::after{
    content: '';
    background-color: #FF6F00;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
/*----- Navigation ------ */
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 100;
}
.navbar-brand{
    font-size: 2.5rem;
    font-weight: 800;
    color: #FF6F00 !important;
    margin-left: 25px;
}
.navbar-brand img{
    pointer-events: none;
    height: 40px;
    margin-top: -15px;
    padding: 0;
}
.navbar-nav li{
    padding: 20px 10px;
}
.navbar-nav li a {
    text-transform: uppercase;
    float: right;
    text-align: left;
}
.nav-link{
    font-weight: 700;
    color: #2F2F2F;
    font-size: 16px;
}
#nav-bar ul li a:hover{
    color: #FF6F00;
    transition: 0.5s ease-in;
    border-bottom: 3px #FF6F00 solid;
}
.navbar{
    background-color: #fff;
}
.navbar-toggler{
    border: none !important;
}
#slider{
    width: 100%;
}
#slider h5{
    font-size: 2.4rem;
}
#slider p{
    font-size: 1.2rem;
}
#slider .content{
    top: 50%;
    transform: translateY(-30%);
}

/* ----About Us ---- */
#about{
    margin: 50px 0;
    color: #2F2F2F;
}
#about h2{
    margin-top: 70px;
}
#about p{
    margin-top: 10px;
}
#about .btn{
    background-color: #FF6F00;
    color: #fff;
    margin: 20px 0 30px 0;
}
.about-content{
    margin-top: 20px 0;
}

.skill-bar{
    font-weight: 600;
}
.skill-bar .progress-bar{
    background-color: #FF6F00;
    border-radius: 20px;
}
/* ---------------Services------------- */
#services{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url('../img/severcies.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #efefef !important;
    padding: 100px 0;
    text-align: center;
}
#services h1::after{
    background-color: #efefef;
}
#services .services{
    margin: 40px;
}
.icon{
    font-size: 40px;
    margin: 20px auto;
    padding-top: 10px;
    height: 80px;
    width: 80px;
    border: 1px #fff solid;
    border-radius: 50%;
}
.icon .fa{
    margin: 0;
    padding: 0;
}
#services p{
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
}
.services .col-md-3:hover{
    background-color: #FF6F00;
    cursor: pointer;
    transition: 0.7;
}


/* -------Team Section-------- */
#team{
    padding: 50px 0;
    color: #2F2F2F;
    text-align: center;
}
#team .profile-pic{
    margin-top: 25px;
}
.profile-pic .img-box{
    opacity: 1;
    display: block;
    position: relative;
}
#team .img-box img{
    margin: 0 auto;
    border-radius: 50%;
    filter: grayscale(1);
    height: 200px;
}
#team .img-box img:hover{
    filter: grayscale(0);
    cursor: pointer;
}
.profile-pic h3{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    color: #FF6F00;
}
.profile-pic h4{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    color: #2F2F2F;
}
.profile-pic .fa{
    height: 25px;
    width: 25px;
    color: #FF6F00;
    background-color: #fff;
    padding: 4px;
    border-radius: 50%;
}
.profile-pic .img-box ul{
    padding: 15px 0;
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 5%;
    transform: translateX(50%);
    opacity: 0;
}
.profile-pic .img-box ul li{
    padding: 5px;
    display: inline-block;
}
.profile-pic .img-box:hover ul{
    opacity: 1;
}
.profile-pic .img-box:hover ul, .profile-pic .img-box:hover ul li{
    transition: 0.7s;
}

/* --------Promo Section ------- */
#promo{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/promo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    padding: 100px;
    font-family: sans-serif;
    font-size: 38px;
}
#promo a{
    color: #fff !important;
    background-color: #FF6F00;
    font-weight: bold;
    padding: 10px, 30px;
}

/* --------- Price plane ---------- */
#price{
    padding: 40px 0;
    background-color: #efefef;
}
#price .single-price{
    margin: 10px auto;
    width: 100%;
    background-color: #fff;
}
#price .single-price:hover{
    cursor: pointer;
    box-shadow: 0 3px 20px #777;
    transition: 0.5s;
}
#price .single-price .price-head{
    background-color: #FF6F00;
    padding: 10px 5px;
    text-align: center;
    width: 100%;
}

#price .single-price .price-head h2{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px;
    text-transform: uppercase;
}

#price .single-price .price-head p{
    color: #efefef;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;

}
#price .single-price .price-head span{
    font-size: 15px !important;
}
#price .single-price .price-content{
    padding: 0 15px;
}
.price-content ul li{
    border-bottom: 2px solid #efefef;
    padding: 15px 10px;
    list-style: none;

}
.price-content ul li:last-child{
    border: none;
}
.price-content ul li .fa-times-circle{
    color: red;
    margin-right: 10px;
    font-size: 20px;
}
.price-content ul li  .fa-check-circle{
    color: green;
    margin-right: 10px;
    font-size: 20px;
}

#price .price-btn{
    padding: 15px 15px 30px;
    text-align: center;
}
#price .buy-btn{
    background-color: #FF6F00;
    border-radius: 3px;
    font-size: 18px;
    padding: 15px 50px;
}
#price .buy-btn:hover{
    background-color: #ec6905;
    border: 1px solid #fff;
    transition: 0.5s;
}
#price a{
    text-decoration: none !important;
    color: #fff;
}


/* ----- Testimonials ----- */
#testimonials{
    padding: 50px 0px;
    text-align: center;
}
#testimonials .row{
    margin-top: 30px;
}
#testimonials .col-md-4{
    margin: 40px auto;
}
#testimonials .profile{
    padding: 70px 10px 10px;
    background-color: #efefef;
}
.user{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.profile img{
    top: -60px;
    position: absolute;
    left: calc(50% - 60px);
    border: 10px solid #fff;
}
.profile h3{
    font-size: 20px;
    color: #FF6F00;
}
.profile h3 span{
    font-size: 13px;
    color: #333333;
}
.profile blockquote{
    font-size: 16px;
    text-align: justify;
    line-height: 30px;
    padding: 0 20px;
}
.profile blockquote::before{
    content: '\93';
    font-size: 50px;
    color: #FF6F00;
    position: relative;
    line-height: 20px;
    bottom: -15px;
    right: 5px;
}

.profile blockquote::after{
    content: '\94';
    font-size: 50px;
    color: #FF6F00;
    position: relative;
    line-height: 10px;
    bottom: -15px;
    left: 5px;
}
.profile:hover{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.5s;
}